
 <div class="container">
    <div class="row"> 
      <div class="col-sm-12">
          <div class="panel panel-default">
          <div class="panel-heading">Form States</div>
          <div class="panel-body">
  
  <!--states-->
  <br/>
  <div class="container">
  <div class="row"> 
    
            <form (submit)="FormSubmit($event)" class="userDetails">
              <input type="text" id= "fname" placeholder="First name*">
              <input type="text" id= "lname" placeholder="Last name*">
              <input type="number" id= "age" placeholder="Age*">
              <input type="email" id= "email" placeholder="Email*">
              <input type="password" id= "password" placeholder="Password*">
              <input type="submit" value="Submit">
            </form>
            <!-- {{statususer.msg}}
            {{statususer.status}} -->
          </div>
          </div>
        </div>
      </div>
    </div>
        </div>
      </div>
      